@import "tailwindcss";

body {
  user-select: none;
  overflow: hidden;
}

button[disabled] {
  color: gray !important;
}

#container:has(#calendar) {
  .schedule-only {
    display: none
  }
}

#container:has(#schedule) {
  .calendar-only {
    display: none;
  }
  
  &.format12 {
    --hour-marking-margin: 4em;
  }
  
  &.format24 {
    --hour-marking-margin: 3em;
  }
  
  #date-headings {
    padding-left: var(--hour-marking-margin);
  }

  &:has(#item-drag) {
    cursor: grabbing;
  }
}

.day.today::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-sky-800);
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.day.selected::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-teal-200);
  opacity: 0.1;
}

#menu:has(.submenu), .submenu:has(.submenu) {
  overflow: visible !important;
}

.submenu-content:has(.submenu-center) {
  display: grid;
  grid-template-rows: auto 1fr;

  .submenu-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
  }
}

.divide-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-section input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}